.bck
  {
    text-align: center;
    font-size: x-large;
    font-weight: 500;
    font-family: cursive;
    background: aliceblue;
    color: brown;
    padding: 10px;
}
 .search{
   background-color: black;
   color: white;
   margin-left: 570px;
   margin-top: 70px;
   padding-top: 20px;
   padding-left: 70px;
   font-size: 30px;
   border-top-style: hidden;
   border-left-style: hidden;
   border-right-style: hidden ;
   outline: none;
   border-bottom-style: groove;

 }
 .but{
   background-color: wheat;
   color: black;
 }